body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-family: "Karla", sans-serif;
}

button {
  cursor: pointer;
}

.navbar {
  background-color: #f6f6f7;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 200px;
  height: 30px;
  margin-top: 12px;
}

.navbar p {
  color: #888888;
  font-size: 0.8em;
  font-weight: 200;
}

.navbar p:hover {
  cursor: pointer;
}

.card {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.card img {
  width: 400px;
}

.card hr {
  border: 0;
  border-top: 1px solid #f6f6f7;
}

.card .product-details {
  max-width: 400px;
  margin-left: 120px;
}

.card h1 {
  margin: 0;
  font-size: 1.2em;
  font-weight: 300;
}

.card .star {
  color: #c90000;
}

.card .price {
  margin: 0;
  font-size: 1em;
}

.card p {
  font-size: 0.9em;
  line-height: 1.4;
  color: #888888;
}

.card .sizeText {
  font-size: 0.9em;
  color: #888888;
  font-weight: 300;
}

.card .sizeBtn {
  background-color: white;
  border: 1px solid #cccccc;
  /* padding: 10px; */
  color: #888888;
  height: 40px;
  width: 40px;
  margin-right: 8px;
  margin-bottom: 15px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.card .sizeBtn:hover {
  background-color: #222222;
  color: white;
  border: none;
}

.sizeBtnDark {
  background-color: #222222;
  border: none;
  /* padding: 10px; */
  color: white;
  height: 40px;
  width: 40px;
  margin-right: 8px;
  margin-bottom: 15px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.card .addBtn {
  border: 2px solid #222222;
  background-color: white;
  font-size: 0.9em;
  padding: 10px 25px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.card .addBtn:hover {
  background-color: #222222;
  color: white;
}

.cart {
  position: absolute;
  right: 20px;
  top: 40px;
  width: 200px;
  background-color: white;
  border: 1px solid #cccccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.cart .empty-cart {
  margin: 12px;
  font-size: 1em;
  font-weight: 200;
}

.cart .total {
  margin-left: 13px;
  font-size: 1em;
  font-weight: 400;
}

.cart-details {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.cart-details img {
  width: 80px;
  margin-right: 10px;
}

.cart-details h2 {
  margin: 0;
  font-size: 1em;
  font-weight: 200;
}

.cart-details h3 {
  font-size: 1em;
  font-weight: 200;
}

.item-controls {
  text-align: center;
}

.item-controls button {
  margin: 5px;
  background-color: white;
  border: 1px solid #cccccc;
  /* padding: 10px; */
  color: #888888;
  height: 30px;
  width: 30px;
  margin-right: 8px;
  margin-bottom: 15px;
}

.item-controls .delete {
  color: #c90000;
}

@media screen and (max-width: 768px) {
  .card {
    flex-direction: column;
    justify-content: flex-start;
    margin: 40px;
  }
  .card .product-details {
    margin-left: 0;
    margin-top: 30px;
  }

  .navbar {
    background-color: #f6f6f7;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
    margin-top: 12px;
    padding: 0 20px;
  }
}
